.containerPrincipal {
  height: 481px;
  padding: 20px;
  background-color: black;
  border: 1px solid #FFF;
  border-radius: 16px;
}

.containerTabs {
  display: flex;
  justify-content: space-around;
}

.tab {
  font-size: 18px;
  font-weight: 600;
  padding: 0px 58px;
  cursor: pointer;
  color: #FFF;
}


.tabActive {
  color: #eb8113;
  border-bottom: 1px solid #eb8113;
}

.cardLocation {
  border: 1px solid #61cf4c;
  height: 145px;
  border-radius: 16px;
  margin-bottom: 17px;
  padding: 0px 16px;
  cursor: pointer;
}



.containerList {
  height: 85%;
  margin-top: 32px;
  padding: 20px;
}


.containerCardInfo {
  height: 287px;
  padding: 15px;
}

.cardLocation:hover {
  transform: scale(1.04);
}

.locationNameText {
  color: #FFF;
  font-size: 22px;
}

.cardLocation p {
  margin-bottom: 2px;
  color: #0e9118;
}

.closeModalX {
  position: absolute;
  color: #FFF;
  font-size: 21px;
  margin-left: 90%;
  margin-top: -20px;
  cursor: pointer;
}